:root {
    --color-root: #003000;
    --color-second: #006000;
    --color-third: #009000;
    --color-fourth: #00c000;
    --color-fifth: #000030;
    --color-sixth: #000060;
    --color-seventh: #000090;
}

.note{
    border-radius: 10px;
}

.note.root{
    background: var(--color-root);
}

.note.second{
    background: var(--color-second);
}

.note.third{
    background: var(--color-third);
}

.note.fourth{
    background: var(--color-fourth);
}

.note.fifth{
    background: var(--color-fifth);
}

.note.sixth{
    background: var(--color-sixth);
}

.note.seventh{
    background: var(--color-seventh);
}

.scale{
    width: 3em;
}

.chord{
    width: 3em;
}
