:root {
    --color-root: #00f000;
    --color-second: #a0d0a0;
    --color-third: #d0a0d0;
    --color-fourth: #00c000;
    --color-fifth: #60a060;
    --color-sixth: #f090f0;
    --color-seventh: #f070f0;
}

.note-cell{
    height: 1.2em;
    width: 2em;
}

.hnote{
    height: 1.2em;
}

.note{
    border-radius: 1em;
    height: 1.2em;
    width: 2em;
    line-height: normal;
    margin: 0;
}

.note.root{
    background: var(--color-root);
}

.note.second{
    background: var(--color-second);
}

.note.third{
    background: var(--color-third);
}

.note.fourth{
    background: var(--color-fourth);
}

.note.fifth{
    background: var(--color-fifth);
}

.note.sixth{
    background: var(--color-sixth);
}

.note.seventh{
    background: var(--color-seventh);
}

body {
    margin: 1.5em;
}

section{
    margin: 1em 0;
}

.scale{
    width: 3em;
}

.controls{
    display: flex;
    flex-wrap: wrap;
}
.control{
    margin-right: 3em;
}

.chord-container{
    flex: 1;
    margin-bottom: 1em;
}
.chords-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.chord-container{
    flex: 1;
}


.chord{
    width: 3em;
    margin-right: 1em;
}
